<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="loan Suite">
 <test thread-count="5" name="My Loan">
    <classes>
        <class name="TestNGTutorial.day1"/>
        <class name="TestNGTutorial.day2">
            <methods>
                <include name="demo3"/> 
            </methods>
        </class>
    </classes>
</test>

  
  <test thread-count="5" name="Your Loan">
    <classes>
      <class name="TestNGTutorial.day3">
        <methods>
          <exclude name="demo.*"/>  
        </methods>
      </class>
    </classes>
  </test>
</suite>
